div {
    display: flex;
    border: 5px solid #000000;
    margin: 50px;
}

div img {
    size: 50px;
}

#one {
    background-color: #0000ff;
    justify-content: center;
}

#two {
    background-color: #22dd11;
    justify-content: space-around;
}

#three {
    background-color:  rgb(201, 21, 21);
    justify-content: space-between;
}

#four {
    background-color: gold;
    justify-content: space-evenly;
}

#five {
    background-color: rgb(199, 12, 199);
    flex-direction: column;
}